{% include 'navbar.html' %}
<hr>
<h2>New</h2>
{% for ticket in tickets %}
{% if ticket.status == 'New' %}
Title: <a href='/ticket/{{ticket.id}}/'>{{ticket.title}}</a>
Added by: <a href='/user/{{user.id}}/'>{{ticket.filed_by.username}}</a>
<br>
{% endif %}
{% endfor %}
<hr>
<h2>In Progress</h2>
{% for ticket in tickets %}
{% if ticket.status == 'In Progress' %}
Title: <a href='/ticket/{{ticket.id}}/'>{{ticket.title}}</a>
Added by: <a href='/user/{{user.id}}/'>{{ticket.filed_by.username}}</a>
Assigned to: <a href='/user/{{user.id}}/'>{{ticket.assigned_to.username}}</a>
<br>
{% endif %}
{% endfor %}
<hr>
<h2>Done</h2>
{% for ticket in tickets %}
{% if ticket.status == 'Done' %}
Title: <a href='/ticket/{{ticket.id}}/'> {{ticket.title}}</a>
Added by: <a href='/user/{{user.id}}/'> {{ticket.filed_by.username}}</a>
Completed by: <a href='/user/{{user.id}}/'>{{ticket.completed_by.username}}</a>
<br>
{% endif %}
{% endfor %}
<hr>
<h2>Invalid</h2>
{% for ticket in tickets %}
{% if ticket.status == 'Invalid' %}
Title: <a href='/ticket/{{ticket.id}}/'>{{ticket.title}}</a>
Added by: <a href='/user/{{user.id}}/'>{{ticket.filed_by.username}}</a>
<br>
{% endif %}
{% endfor %}