<body>
{% if not user.is_authenticated %}
<h1>👾 Welcome! Please log in to use Bug Tracker! 👾</h1>
{% endif %}
{% if user.is_authenticated %}
<h1>👾 Bug Tracker 👾</h1>
Hi, <a href='/user/{{user.id}}/'>{{request.user.username}}</a>!
<nav>
    <button><a href='/'>Home</a></button>
    <button><a href='/login/'>Log In</a></button>
    <button><a href='/adduser/'>Add a User</a></button>
    <button><a href='/addticket/'>Add a Ticket</a></button>
    <button><a href='/logout/'>Log Out</a></button>
</nav>
{% endif %}
</body>