{% include 'navbar.html' %}
<hr>
<h2>{{ticket.title}}</h2>
<button><a href='/ticket/{{ticket.id}}/edit/'>Edit Ticket</a></button>
<button><a href='/ticket/{{ticket.id}}/assign/'>Assign Ticket</a></button>
<button><a href='/ticket/{{ticket.id}}/finish/'>Mark as Finished</a></button>
<button><a href='/ticket/{{ticket.id}}/invalid/'>Mark as Invalid</a></button>
<ul>
    <h3><li>Date filed: {{ticket.date_filed}}</li></h3>
    <h3><li>Description: {{ticket.description}}</li></h3>
    <h3><li>Filed by: {{ticket.filed_by.username}}</li></h3>
    <h3><li>Status: {{ticket.status}}</li></h3>
    <h3><li>Assigned to: {{ticket.assigned_to.username}}</li></h3>
    <h3><li>Completed by: {{ticket.completed_by.username}}</li></h3>
</ul>