{% extends 'base.html' %} {% block content %}
<hr>
<link rel="stylesheet" href="/static/css/style.css">
<body>
    <h3>{{ticket.title}}</h3>
    <ul>
        <h5><li>Date filed: {{ticket.date_filed}}</li></h5>
        <h5><li>Description: {{ticket.description}}</li></h5>
        <h5><li>Filed by: {{ticket.filed_by.username}}</li></h5>
        <h5><li>Status: {{ticket.status}}</li></h5>
        <h5><li>Assigned to: {{ticket.assigned_to.username}}</li></h5>
        <h5><li>Completed by: {{ticket.completed_by.username}}</li></h5>
    </ul>
    {% if ticket.filed_by == request.user %}
    <a class='btn btn-light btn-sm' href='/ticket/{{ticket.id}}/edit/'>Edit Ticket</a>
    {% endif %}
    {% if not ticket.assigned_to and not ticket.completed_by %}
    <a class='btn btn-warning btn-sm' href='/ticket/{{ticket.id}}/assign/'>Assign Ticket</a>
    {% endif %}
    {% if ticket.assigned_to == request.user %}
    <a class='btn btn-success btn-sm' href='/ticket/{{ticket.id}}/complete/'>Mark as Completed</a>
    {% endif %}
    <a class='btn btn-danger btn-sm' href='/ticket/{{ticket.id}}/invalid/'>Mark as Invalid</a>
</body>
{% endblock %}