{% include 'navbar.html' %}
<hr>
<h1>{{my_user.username}}'s Profile</h1>
<ul>
    Created Tickets:
    {% for ticket in ticket_created %}
    {% if my_user == my_user %}
    <h4><a href='/ticket/{{ticket.id}}'>{{ticket.title}}</a></h4>
    {% endif %}
    {% endfor %}
    <br>
    Assigned Tickets:
    {% for ticket in ticket_assigned %}
    {% if my_user == my_user %}
    <h4><a href='/ticket/{{ticket.id}}'>{{ticket.title}}</a></h4>
    {% endif %}
    {% endfor %}
    <br>
    Completed Tickets:
    {% for ticket in ticket_completed %}
    {% if my_user == my_user %}
    <h4><a href='/ticket/{{ticket.id}}'>{{ticket.title}}</a></h4>
    {% endif %}
    {% endfor %}
</ul>