{% extends 'base.html' %} {% block content %}
<hr>
<link rel="stylesheet" href="/static/css/style.css">
<body>
<h2>{{my_user.username}}'s Profile</h2>
<ul>
    <h4>Created Tickets:</h4>
    {% for ticket in ticket_created %}
    {% if my_user == my_user %}
    <a class='btn btn-light btn-sm' href='/ticket/{{ticket.id}}'>{{ticket.title}}</a>
    {% endif %}
    {% endfor %}
    <br>
    <hr>
    <h4>Assigned Tickets:</h4>
    {% for ticket in ticket_assigned %}
    {% if my_user == my_user %}
    <a class='btn btn-warning btn-sm' href='/ticket/{{ticket.id}}'>{{ticket.title}}</a>
    {% endif %}
    {% endfor %}
    <br>
    <hr>
    <h4>Completed Tickets:</h4>
    {% for ticket in ticket_completed %}
    {% if my_user == my_user %}
    <a class='btn btn-success btn-sm' href='/ticket/{{ticket.id}}'>{{ticket.title}}</a>
    {% endif %}
    {% endfor %}
</ul>
</body>
{% endblock %}